<h1 class="title">Informazioni di emergenza</h1>
<script type="text/javascript">

function graphElementWithValues(values){
	WIDTH = 400;

	risk_level = values["risk_level"] * WIDTH;
	police = values["police"] * WIDTH;
	firefighters = values["firefighters"] * WIDTH;
	soldiers = values["soldiers"]  * WIDTH;
	civil_defence = values["civil_defence"]  * WIDTH;
	ambulance = values["ambulance"]  * WIDTH;

	risk_color = risk_level > .5 * 450 ? "red" : "green";

	var graph = '<div class="city_graph">\
					<h2>whymca-padiglione2</h1>\
					<div class="risk_level bar" style="width: ' + risk_level + 'px; background-color: ' + risk_color + '"><h2>' + roundNumber(values["risk_level"] * 100.0, 2) + '%</h2></div><br/>\
					<%= image_tag "police_icon.png", :width => 20 %><div class="police needed_res_bar bar" style="width: ' + police + 'px">' + roundNumber(values["risk_level"] * 100.0, 2) + '%</div><br/>\
					<%= image_tag "fire_fighter_icon.png", :width => 20 %><div class="firefighters needed_res_bar bar" style="width: ' + firefighters + 'px">' + roundNumber(values["firefighters"] * 100.0, 2) + '%</div><br/>\
					<%= image_tag "esercito_icon.png", :width => 20 %><div class="soldiers needed_res_bar bar" style="width: ' + soldiers + 'px">' + roundNumber(values["soldiers"] * 100.0, 2) + '%</div><br/>\
					<%= image_tag "croce_rossa_italiana_icon.jpg", :width => 20 %><div class="ambulance needed_res_bar bar" style="width: ' + ambulance + 'px">' + roundNumber(values["ambulance"], 2) * 100.0 + '%</div><br/>\
					<%= image_tag "civil_defence_icon.png", :width => 20 %><div class="civil_defence needed_res_bar bar" style="width: ' + civil_defence + 'px">' + roundNumber(values["civil_defence"] * 100.0, 2) + '%</div><br/>\
				</div>';

	return graph;

}
function loadInfo(){
    $.getJSON("http://nostradamus-whymca.appspot.com/emergency_info?callback=?", function(json){
    	//for (var i = 0; i < json.length; i++) { // We assume 1 for now
			values = [];
			values['risk_level'] = json["Percentuale di emergenza"];
			values['police'] = json["Necessità di Polizia"];
			values['firefighters'] = json["Necessità di Pompieri"];
			values['soldiers'] = json["Necessità di Esercito"];
			values['ambulance'] = json["Necessità di Croce Rossa"];
			values['civil_defence'] = json["Necessità di Protezione Civile"];

			$("#infos").append("<div class='city_info' id='"+ json.id + "'>" + graphElementWithValues(values) + "</div>");
		//}
	});
}

$(document).ready(function(){
	loadInfo();
})
</script>

<div id="infos">
</div>